body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: #777777;
    background: #777;
    font-size: 18px;
}

#header, #nav , #section, #footer, #aside {
    background:#ebebeb;
}

.wrapper {
     text-align: center;
     margin:40px;
     width: relative;
     text-align: center;
}

.wrapper2 {
    float: left;
}

.wrapper3 {
    float:right;
}

#header {
    line-height:100px;
}
#header :hover {
    color: red;
}
#nav {
    line-height: 100px;
    margin-bottom: 15px;
}
#nav :hover {
    color: green;
}
#aside {
    line-height: 200px;
    margin: 35px;
    width: 590px;
    height: 270px;
    margin-top: -20px;
    font-size: 16px;
}
#aside :hover {
    color: orangered;
}
#section {
    background: #ebebeb;
    width: 590px;           /* issues*/
    border-style: solid;
    position: absolute;
}
#section :hover {
    color: black;
}
#article {
    color: #ebebeb;
    background: #777;
    width: 510px;
    border-style: solid;
    border-color: #777777;
    margin:30px;
}
#article :hover {
    color: aquamarine;
}
#h123 {
    color: #777777;
    background: #ebebeb;
    width: 495px;
    border-style: solid;
    border-width: 5px;
    height: 40px;
}
#h123 :hover {
    color: firebrick;
}
#p {
    color: #777777;
    background: #ebebeb;
    width: 495px;
    border-style: solid;
    border-width: 5px;
    height:40px; 
}
#p :hover {
    color: forestgreen;
}
#footer {
    color: #777777;
    background: #ebebeb;
    width: 100%;
    border-style: solid;
    height:100px;
    margin-top:310px;
}
#footer :hover {
    color: gold;
}